.out-img1{
    background-image: url(../images/Steps.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    margin-block: 10vh;
}
.out-img2{
    background-image: url(../images/Checkout1Block.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
    margin-bottom: 5vh;

}
.buttons1{
    display: flex;
    justify-content:end;
    align-items: center;
    padding:30px;
    gap:40px;
}



/* mobile respaonsiveness */
@media (max-width: 900px) {
    .out-img1{
        background-image: url(../images/Steps2.png);
margin:5vh;

    }
    .out-img2{
        background-image: url(../images/Block4.png);
        height:60vh
    }
    .add{
        display:none
    }
}